---
import Navbar from "@/components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Hayat Tamboli - about me">
  <main
    class="bg-slate-100 min-h-screen flex flex-col justify-center items-center px-4 md:px-16 lg:px-32"
  >
    <div class="md:w-2/4 px-4 my-40">
      <div class="flex gap-4">
        <div
          class="bg-slate-100 border-slate-200 border-4 rounded-3xl border-dashed aspect-square flex justify-center items-center p-16 max-w-80 overflow-clip"
        >
          <!-- <Image src={} alt="Hayat's photo"/> -->
          A good photo of mine
        </div>
        <div
          class="bg-slate-100 border-slate-200 border-4 rounded-3xl border-dashed aspect-square flex justify-center items-center p-16 max-w-80 overflow-clip"
        >
          <!-- <Image src={} alt="Hayat's photo"/> -->
          Another photo of mine
        </div>
      </div>
      <div
        class="md:h-3/4 rounded-3xl border-dashed flex flex-col space-y-4 justify-center mt-4"
      >
        <p class="text-xl text-slate-950/90">
          Hi, I am Hayat, an Interaction Designer with a knack for exploring new
          technologies. Currently pursuing Master of Design at <a
            href="https://www.idc.iitb.ac.in/"
            class="font-bold hover:decoration-black hover:decoration-wavy hover:underline duration-250 transition-all"
          >
            IDC, IIT Bombay</a
          >.
        </p>
        <p class="text-xl text-slate-950/90 mt-4">
          When not designing or coding, you will find me tinkering with
          electronics, playing NFS and watching Formula 1.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style></style>
