---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { Button } from "../components/ui/button";
import Navbar from "@/components/Navbar.astro";
// import Card from "../components/Card.astro";
---

<Layout title="Hayat Tamboli">
  <main class="bg-slate-100 h-screen flex justify-center items-center">
    <div
      class="w-2/4 h-3/4 rounded-3xl border-dashed flex flex-col space-y-4 justify-center"
    >
      <div class="bg-slate-400/10 p-8 rounded-3xl border-2 border-slate-200/20">
        <h1 class="text-2xl font-medium text-black/80">
          Hi, I'm <span class="text-slate-900">Hayat</span>
        </h1>
        <h1 class="text-2xl font-medium text-black/80">
          I find joy in designing and building beautiful & functional softwares
        </h1>
      </div>
    </div>
  </main>
</Layout>

<!-- <style></style> -->
