---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Navbar from "../components/Navbar.astro";
import "@/styles/globals.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hayat's Personal Portfolio and soon his digital garden 🪴"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <header>
    <Navbar />
  </header>
  <body class="bg-slate-100">
    <slot />
    <footer class="bg-slate-200 flex justify-center py-8 px-4">
      <ul class="flex text-slate-500 flex-wrap gap-8">
        <li class="hover:text-slate-800">
          <a href="mailto:hayat.tamboli@gmail.com">Email</a>
        </li>
        <li class="hover:text-slate-800">
          <a href="https://www.linkedin.com/in/hayat-tamboli">Linkedin</a>
        </li>
        <li class="hover:text-slate-800">
          <a href="https://twitter.com/HayatTamboli">Twitter</a>
        </li>
        <li class="hover:text-slate-800">
          <a href="https://read.cv/hayat">Read CV</a>
        </li>
        <li class="hover:text-slate-800">
          <a href="https://github.com/hayat-tamboli">GitHub</a>
        </li>
      </ul>
    </footer>
  </body>

</html>
